service: layers

provider:
  name: aws
  runtime: nodejs12.x
  region: eu-west-3
  stage: ${opt:stage, 'dev'}

layers:
  expressPgMoment:
    path: express-pg-moment
    description: Layer with ExpressJS, MomentJS, Serverless HTTP, PostgreSQL client
    compatibleRuntimes:
      - nodejs12.x
  logging:
    path: logging/dist
    description: Layer with a simple Logger
    compatibleRuntimes:
      - nodejs12.x
  dates:
    path: dates/dist
    description: Layer with a custom layer that has moment as dependency
    compatibleRuntimes:
      - nodejs12.x

resources:
  Outputs:
    ExpressPgMomentLayerExport:
      Value:
        Ref: ExpressPgMomentLambdaLayer
      Export:
        Name: ExpressPgMomentLambdaLayer
    LoggingLayerExport:
      Value:
        Ref: LoggingLambdaLayer
      Export:
        Name: LoggingLambdaLayer
    DatesLayerExport:
      Value:
        Ref: DatesLambdaLayer
      Export:
        Name: DatesLambdaLayer
